<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CCCCCCCCCCCCC.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="TimerOctoAwesome.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<CCCCCCCCCCCCC.Settings1>
			<setting name="_CommitMessagebox" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Farbverlauf" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Random" serializeAs="String">
				<value>35</value>
			</setting>
			<setting name="_RandomColor" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Red" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="_ShowHours" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_ShowMiliseconds" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Yellow" serializeAs="String">
				<value>20</value>
			</setting>
		</CCCCCCCCCCCCC.Settings1>
		<TimerOctoAwesome.Settings1>
			<setting name="_CommitMessagebox" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Farbverlauf" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Opacity" serializeAs="String">
				<value>80</value>
			</setting>
			<setting name="_Random" serializeAs="String">
				<value>35</value>
			</setting>
			<setting name="_RandomColor" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_RandomIntervall" serializeAs="String">
				<value>500</value>
			</setting>
			<setting name="_Red" serializeAs="String">
				<value>30</value>
			</setting>
			<setting name="_ShowHours" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_ShowMiliseconds" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="_Yellow" serializeAs="String">
				<value>20</value>
			</setting>
			<setting name="WindowLocation" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="WindowSize" serializeAs="String">
				<value>0, 0</value>
			</setting>
		</TimerOctoAwesome.Settings1>
	</userSettings>
</configuration>